<aside class="menu">
  <p class="menu-label">
    分類
  </p>
  <ul class="menu-list">
    <li><a>Web技術</a></li>
    <li><a>版本控制</a></li>
    <li><a>資料庫</a></li>
  </ul>
  <p class="menu-label">
    出版社
  </p>
  <ul class="menu-list">
    <li><a>Dashboard</a></li>
    <li><a>Customers</a></li>
  </ul>
</aside>