<h1>書本列表</h1>

<%= link_to  "新增書本", new_book_path %>

<% @books.each do |book|%>
  <div>
    <%= book.title %>
    <%= link_to '編輯書本', edit_book_path(book) %>
    <%= link_to '刪除書本', book_path(book), method: :delete, data: { confirm: '確定要刪除？' } %>
  </div>
<% end %>